.overall {
    background: cadetblue;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.header {
    background-image:url('../img/hg.jpg');
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
    
    div {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 180px;
    }

    input {
        width: 70%;
        padding: 8px;
        border: #fff;
        border-radius: 3px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 15px;
    }

    button {
        width: 20%;
        padding: 8px;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: white;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        transition: 0.3s;
        background: #d9d9d9;
        color: #555;
    }

    button:hover {
        background-color: #bbb;
    }
}

.card {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
	padding: 8px 20px;
	background: #eee;
	font-size: 18px;
    transition: 0.2s;
    
    div {
        display: flex;
    }
}


.card:nth-child(odd) {
    background: #f9f9f9;
}

.card:hover {
    background: #ddd;
}

.card.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.card.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}